@tailwind base;
@tailwind components;
@tailwind utilities;


  @font-face {
    font-family: 'BrandonGrotesque-Regular';
    src: url('/fonts/Brandon_Grot_regular.otf') ;
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'BrandonGrotesque-bold';
    src: url('/fonts/Brandon_Grot_bold.otf') ;
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'BrandonGrotesque-italic';
    src: url('/fonts/Brandon_Grot_medium_italic.otf') ;
    font-weight: light;
    font-style: italic;
  }

  body {
    font-family: 'BrandonGrotesque-Regular', sans-serif;
  }

  h1 {
    font-family: 'BrandonGrotesque-italic', sans-serif;
  }


  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
